body{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	margin: 0px;
	display: flex; 
	flex-direction: column;
	bottom: 0px;
	height: 100vh;
	background: #F4F4F5;
}
header{
	height: 30px;
	background: #000000;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:flex-end;
	align-content: center;
	padding-right: 120px;
}
.top_menu{
	height: 60px;
	display: flex;
	flex-direction: row; 
	align-items: center;
	justify-content: flex-start;
	background: #FFFFFF;
	margin-bottom: 5px;
	box-shadow: 0px 3px 4px rgba(94, 99, 102, 0.15);
	box-shadow: 0px 3px 4px rgba(94, 99, 102, 0.15);
	padding-left: 120px;
	
}
.form-control{
	border-radius: 0 !important;
}
.content{
	display: flex;
	flex-direction: column; 
	background: #F4F4F5;
	text-align: center;
	background: #F4F4F5;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}
.subscribe{
	text-align: left;
	width:80px;
	height: 18px;
	color: #FFFFFF;
	font-size: 12px;
}
.social{
	text-align: center;
	width:20px;
	height: 25px;

}
.logo{
	width: 167px;
	height:36px;
}
.fields{
	width: 558px;
	height:380px;
	background: #FFFFFF;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
	display: flex; 
	flex-direction: column;
}
#btn1{
	background: #7B3CA5;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25) !important;
	border-radius: 40px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 16px;
	color:#F2F2F2;
	width: 262px;
	height: 42px;
	border: 0px;
}
#chb1{
	padding-top: 3px;
}
.registration{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;
	color: #1F2836;
	padding-top: 30px;
}
.rememder{
	display: flex;
	flex-direction: row;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 12px;
	padding-top: 10px;
}
.recovery{
	text-align: right;
	width: 50%;
	height: 30px;
	color: #7B3CA5;
}
.login_caption{
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 24px;
	color: #4C4C4C;
 	margin-bottom: 20px;
}
.logo{
	width: 145px;
	height:34px;
}
#email{
	border: 0px;
	background: #FFFFFF;
	border-bottom: 1px solid #A4A6A9;
	font-size: 16px;
	color: #A4A6A9;
	padding: 5px;
}
#pwd{
	border: 0px;
	background: #FFFFFF;
	border-bottom: 1px solid #A4A6A9;
	font-size: 16px;
	color: #A4A6A9;
	padding: 5px;

}
.invalid-feedback{
	font-style: italic;
	font-size: 10px;
	color: #C43269;
	text-align: left;
	margin-bottom: 20px;
	margin: 0px;
}
input{
	box-shadow: none !important;
	outline:none !important;
}
#txt{
	height: 65px;
}
.was-validated .form-control:invalid {
	border-bottom: 1px solid #C43269 !important;
}
a{
	text-decoration: none;
	color: #7B3CA5;
}
input[type=checkbox] {
/*	display: none;*/
}
.checkbox label:before {
	border-radius: 3px;
}

input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
    line-height: 15px;
}