 
  .user {
    display: flex;
    
    .username {
      display: flex;
      align-items: center;
    }
  }
  
  
  .contacts {
    margin: auto;
    
    .phone {
      display: flex;
      
      .phone_img {
        
      }
      
      .phone_number {
         color: #7B3CA5;
      }
    }
    
    .address {
      display: flex;
    }
  }

.hidden {
  display: none;
}