body {
    background-color: #f5f5f5;
}
header{
    background-color: #100E2D;
}

.badge-custom {
    color: #fff;
    background-color: #100E2D;
}
.badge-custom[href]:hover, .badge-custom[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #3e3d53;
}

.text-custom-primary {
    color: #563d7c;
}
a.text-custom-primary:hover, a.text-custom-primary:focus {
    color: #cbbde2;
    text-decoration: none;
}

.btn{
    border-radius: 1rem;
}
.btn-custom-primary {
  color: #fff;
  background-color: #563d7c;
  border-color: #493567;
}
.btn-custom-primary:hover {
  color: #fff;
  background-color: #cbbde2;
  border-color: #aa9ebe;
}
.btn-custom-primary:focus, .btn-custom-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(86, 61, 124, 0.5);
}
.btn-custom-primary.disabled, .btn-custom-primary:disabled {
  color: #fff;
  background-color: #cbbde2;
  border-color: #aa9ebe;
}
.btn-custom-primary:not(:disabled):not(.disabled):active, .btn-custom-primary:not(:disabled):not(.disabled).active,
.show > .btn-custom-primary.dropdown-toggle {
  color: #fff;
  background-color: #563d7c;
  border-color: #493567;
}
.btn-custom-primary:not(:disabled):not(.disabled):active:focus, .btn-custom-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-custom-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(86, 61, 124, 0.5);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #493567;
}
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(86, 61, 124, 0.5);
}
.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: rgba(86, 61, 124, 0.5);
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(86, 61, 124, 0.5);
}

.form-control {
  border: 0;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  padding: 0.375rem 0; 
}

.form-control:focus {
  border-color: #493567;
  box-shadow: 0 0.2rem 0 0 rgba(86, 61, 124, 0.5);
}

.was-validated .form-control:valid:focus, .form-control.is-valid:focus, .was-validated
.custom-select:valid:focus,
.custom-select.is-valid:focus {
  box-shadow: 0 0.2rem 0 0  rgba(40, 167, 69, 0.25);
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus, .was-validated
.custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  box-shadow: 0 0.2rem 0 0 rgba(220, 53, 69, 0.25);
}