body{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	margin: 0px;
	display: flex; 
	flex-direction: column;
	bottom: 0px;
	height: 100vh;
	background: #F4F4F5;
}
header{
	height: 30px;
	background: #000000;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:flex-end;
	align-content: center;
	padding-right: 120px;
}
.top_menu{
	height: 60px;
	display: flex;
	flex-direction: row; 
	align-items: center;
	justify-content: flex-start;
	background: #FFFFFF;
	margin-bottom: 5px;
	box-shadow: 0px 3px 4px rgba(94, 99, 102, 0.15);
	box-shadow: 0px 3px 4px rgba(94, 99, 102, 0.15);
	padding-left: 120px;
	
}
.content{
	display: flex;
	flex-direction: column; 
	background: #F4F4F5;
	text-align: center;
	background: #F4F4F5;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}
.subscribe{
	text-align: left;
	width:80px;
	height: 18px;
	color: #FFFFFF;
	font-size: 12px;
}
.social{
	text-align: center;
	width:20px;
	height: 25px;

}
.logo{
	width: 167px;
	height:36px;
	background: url(logo.svg);
}
.politik{
	color: #7B3CA5;
}
.login{
	width:50%;
	text-align: right;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;
	color: #7B3CA5;
}
.fields{
	width: 558px;
	height:380px;
	background: #FFFFFF;
	border-radius: 4px;
	align-items: center;
	justify-content: center;
	display: flex; 
	flex-direction: column;
}
#btn1{
	background: #7B3CA5;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 40px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 16px;
	color:#F2F2F2;
	width: 262px;
	height: 42px;
	border: 0px;
}
#chb1{
	padding-top: 3px;
}
.registration{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;
	color: #1F2836;
	padding-top: 30px;
}
.rememder{
	display: flex;
	flex-direction: row;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 12px;
	padding-top: 10px;
}
.recovery{
	text-align: right;
	width: 50%;
	height: 30px;
	color: #7B3CA5;
}
.rem{
	width: 50%;
	text-align: left;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.login_caption{
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 24px;
	color: #4C4C4C;
 	margin-bottom: 20px;
}
.logo{
	width: 145px;
	height:34px;
	background: url(logo.svg);
}
.login{
	color: #7B3CA5;
}
#email{
	border: 0px;
	background: #FFFFFF;
	border-bottom: 1px solid #A4A6A9;
	font-size: 16px;
	color: #A4A6A9;
	padding: 5px;
}
#pwd{
	border: 0px;
	background: #FFFFFF;
	border-bottom: 1px solid #A4A6A9;
	font-size: 16px;
	color: #A4A6A9;
	padding: 5px;
}
.invalid-feedback{
	font-style: italic;
	font-size: 10px;
	color: #C43269;
	margin-bottom: 20px;
/*	border-top: 1px solid #C43269;*/
	text-align: left;
/*	display: none;*/
}
input{
	box-shadow: none !important;
	outline:none !important;
}
.condition{
	font-size: 12px;
	color: #4C4C4C;
	width: 263px;
	text-align: left;
}