body{
	font-family: Tahoma;
	margin: 0px;
	display: flex; 
	height: 100vh;
	flex-direction: column;

}
header{
	height: 30px;
	background: #38A055;
	text-align: right;
	align-items: center;
	justify-content:center;
    display: flex;
    flex-direction: row;
 
}
div{
	borders: 1px solid #000000;
}
span{
color: #40B661;
}

main{
box-shadow: 0px 3px 4px rgba(94, 99, 102, 0.15);
}
.join{
    align-items: center;
    justify-content: right;
    width: 80%;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12px;
color: #FFFFFF;
	
}

.top_menu{
    height: 60px;
    width: 80%;
margin: auto;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 4px rgba(94, 99, 102, 0.15);
}
.left_top_menu{
width:50%;
}
.logo{
width: 167px;
height:36px;
background: url(logo.svg);

}
.login{
width:50%;
text-align: right;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 14px;
}


.content{
	background: #F4F4F5;
	text-align: center;
	    background: #F4F4F5;
	height: 100%;
align-self: stretch;
    align-items: center;
    justify-content: center;
   display: flex;
    flex-direction: row; 
}

.fields{
width: 558px;
height: 580px;
left: 309px;
top: 105px;
background: #FFFFFF;
border-radius: 4px;
    align-items: center;
    justify-content: center;
	display: flex; 
	height: 90vh;
	flex-direction: column;
}

.enterprofile{
font-family: Open Sans;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 24px;
width: 263px;
color: #4C4C4C;
}

.txt{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 16px;
color: #A4A6A9;
}